<%= form_for(@message) do |f| %>
  <p>
    <%= f.label "Кому" %><br />
    <%= f.text_field :to %>
  </p>
  
  <p>
    <%= f.label "Тема" %><br />
    <%= f.text_field :subject %>
  </p>
  
  <p>
    <%= f.label "Сообщение" %><br />
    <%= f.text_area :body %>
  </p>
  
  <div class="actions">
    <%= f.submit "Отправить" %>
  </div>
<% end %>
