<div class='title'>
  <hr />
  <h1>Новости</h1>
  <% if admin?  %>
    <div class='action'><%= link_to 'Создать новость', new_news_path, :class => 'button' %></div>
  <% end %>
  <hr />
</div>

<% @news.each do |news| %>
  <div class='white_container round'>
    <h3><%= link_to truncate(news.title, :length => 80, :separator => '…'), news %></h3>
    <div class='text'>
      <%= RedCloth.new(truncate(news.content, :length => 300, :separator => '…'), [:filter_html]).to_html.html_safe %>
    </div>
    <div class='box'>
      Автор: <%= link_to news.user.username, news.user %>
    </div>
    <div class='box'>
      <%= news.created_at %>
    </div>
    <% if admin? %>
      <cpan style='float: right;'>
        <div class='box'>
          <%= link_to 'Редактировать', edit_news_path(news) %>
        </div>  
        <div class='box'>
          <%= link_to 'Удалить', news, confirm: 'Вы уверены?', method: :delete %>
        </div>
      </cpan>
    <% end %> 
  </div>
<% end %>

<hr />
  <%= will_paginate @news %>
<hr />