<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag "Логин" %><br />
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag "Пароль" %><br />
    <%= password_field_tag :password %>
  </div>
  <p>
    <%= check_box_tag :remember_me %>
    <%= label_tag "Запомни меня" %>
  </p>
  <div class="actions">
    <%= submit_tag "Войти" %>
  </div>
<% end %>
